.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 20px;
	margin: 0;
	align-items: center; 
}
li{
	width: 150px;
	border:2px solid #f00;
	margin-top: 20px;
	order:1;
	list-style-type:none;
}
.first{
	height: 120px;
}
.second{
	height: 100px;
}
.third{
	height: 40px;
}
.fourth{
	height: 200px;
	border-color: #0f0;
}
@media(max-width: 640px){
	.container{
		align-items: flex-start; 
	}
	.fourth{
		order:0;
	}
}
